
<div style="float: right;">
  <img *ngIf='lg =="fr"'
       src="/public/images/login/i18n/en.png"
       title="EN"
       [style.width.px]='imageWidth'
       (click)="onChangeLg('en')" >
  <img *ngIf='lg =="en"'
       src="/public/images/login/i18n/fr.png"
       title="FR"
       [style.width.px]='imageWidth'
       (click)="onChangeLg('fr')"
  >
</div>

<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-0">
          <div class="card p-2">
            <div class="card-block">
              <h1>{{ 'HOME.Retrouvez votre compte' | translate }}</h1>



               <div class="alert alert-danger mt-2" *ngIf="errorMessage">

                  <strong>{{ 'HOME.Login ou mot de passe invalide!' | translate }}</strong>

              </div>



              <form role="form" class="bottom-75" [formGroup]="myForm" (ngSubmit)="onSignin()" >


                <div class="input-group mb-1">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                  <input formControlName="email" type="text" class="form-control" id="emaile" [placeholder]=' "HOME.MAIL" | translate'>

                </div>


                <div class="row">
                  <div class="col-6 text-right">
                    <button [disabled]="!myForm.valid" type="submit" class="btn btn-primary px-2">{{ 'HOME.Login' | translate }}</button>


                  </div>

                </div>

              </form>






            </div>
          </div>
          <div class="card card-inverse  py-3 hidden-md-down" style="width:44%">
            <div class="card-block text-center">
              <div>
                <img src="/assets/img/logo-factgroup.png" style="width: 100%" />

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


